/* Custom Colors */
:root {
    --primary-color: #330f0a;
    /* Black bean */
    --secondary-color: #394f49;
    /* Dark slate gray */
    --accent-color: #65743a;
    /* Fern green */
    --highlight-color: #efdd8d;
    /* Flax */
    --light-highlight-color: #f4fdaf;
    /* Mindaro */
}

/* Add a border or padding around the whole site */
.site-wrapper {
    border: 5px solid whitesmoke;
    /* Border color around the site */
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0 !important;
    padding: 0;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Hover Effects */
.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transition: background-color 0.3s ease;
}


/* Footer Styling */
footer {
    padding: 20px 0;
    color: var(--highlight-color);
    text-align: center;
}
footer p {
    text-shadow: 1px 1px 2px var(--secondary-color);
}

footer a {
    color: var(--light-highlight-color);
    text-decoration: none;
}


.thick-line {
    border-top: 3px solid black; /* Increases thickness to 3px */
    margin-top: 20px; /* Adjusts the space above */
    margin-bottom: 20px; /* Adjusts the space below */
}


/* End of css/globalstyle.css */